
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/theme.js"></script>


<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfr7av4w5GCXxmT6nkgjXruqTF64y_We4&sensor=true&libraries=places,visualization">
</script>

</body>
</html>
