<!DOCTYPE html>
<html>
<head>
	<title>Distance.io</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- libraries -->
    <link href="/css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="/css/lib/jquery.dataTables.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="/css/compiled/layout.css" />
    <link rel="stylesheet" type="text/css" href="/css/compiled/elements.css" />
    <link rel="stylesheet" type="text/css" href="/css/compiled/icons.css" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="/css/compiled/datatables.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/compiled/index.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/distance.css" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!-- lato font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <!-- navbar -->
    <header class="navbar navbar-inverse" role="banner">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                Distance.io
            </a>
        </div>
        <ul class="nav navbar-nav pull-right hidden-xs">
            <li class="settings hidden-xs hidden-sm">
                <a href="/logout/" role="button">
                    <i class="icon-share-alt"></i>
                </a>
            </li>
        </ul>
    </header>
    <!-- end navbar -->

    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <!--<li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="/account/">
                    <i class="icon-home"></i>
                    <span>Realtime</span>
                </a>
            </li>-->
            <li <% if (menu === 'users') { %> class="active" <%}%>>
                <a href="/account/users/">
                    <i class="icon-group"></i>
                    <span>Users</span>
                </a>
            </li>
            <li <% if (menu === 'targets') { %> class="active" <%}%>>
                <a href="/account/targets/">
                    <i class="icon-location-arrow"></i>
                    <span>Targets</span>
                </a>
            </li>
            <li <% if (menu === 'heatmap') { %> class="active" <%}%>>
                <a href="/account/heatmap/">
                    <i class="icon-sun"></i>
                    <span>Heatmap</span>
                </a>
            </li>
            <li <% if (menu === 'setup') { %> class="active" <%}%>>
                <a href="/account/setup/">
                    <i class="icon-th-large"></i>
                    <span>Setup</span>
                </a>
            </li>
            <% if (user.isAdmin) {%>
            <li>
                <a href="/admin/">
                    <i class="icon-cog"></i>
                    <span>Admin</span>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <!-- end sidebar -->
